<div class="jumbotron">
    <h1>Code for Harambe 2: Electric Boogaloo</h1>
    <h2>Do you even code</h2>
    <h2>fuckboi</h2>
    <br />
    <p class="lead">Bitchez be nothing but hoes and tricks</p>
</div>
<div class="row">
    <p style="text-align:center; display:block;"><img src="https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_400x400.jpg" /></p>
</div>
<div class="row">

</div>
